@page "/message/{messageId:guid}"

@if (!this.HasLoaded)
{
    <MudSkeleton Animation="Animation.Wave" />
}
else if (this.Response is null)
{
    <H5>Message Not Found</H5>
}
else
{
    <MudGrid Class="mt-1 mud-width-full">
        <MudItem xs="12">
            <H5>@this.Response.Id.Id</H5>
        </MudItem>
        <MudItem md="6">
            <DL>
                <dt>Timestamp</dt>
                <dd>@this.Response.Timestamp</dd>
                <dt>Message Type</dt>
                <dd>@this.Response.MessageType</dd>
                <dt>Source</dt>
                <dd>@this.Response.Source</dd>
                <dt>Destination</dt>
                <dd>@this.Response.Destination</dd>
            </DL>
            <LinkButton Class="ma-1" Link=@($"/message/conversation/{this.Response.ConversationId.Id}")>View Conversation</LinkButton>
        </MudItem>
        <MudItem md="6">
            <Code Content=@Response.Content />
        </MudItem>
    </MudGrid>
}